[program:twindle.pudo.org]
command=/usr/local/bin/coffee app.coffee
directory=/var/www/twindle.pudo.org/app
environment=
  PORT=19502,
  DB_URL=...,
  GOOGLESPREAD_KEY=...,
  CONSUMER_KEY=...,
  CONSUMER_SECRET=...,
  ACCESS_TOKEN=...,
  ACCESS_SECRET=...
user=www-data
autostart=true
autorestart=true
stdout_logfile=/var/www/twindle.pudo.org/logs/supervisord.log
redirect_stderr=true

